@model MVCWebClient.Models.AccountViewModels.ChangeUsersViewModel
<div>
    @foreach (var user in Model.Users)
    {
        <div>
            
            <form class="form-horizontal" method="post">
                <div>@user.UserName [ @user.CurrentRole ]</div>

                <input name="emailAddress" asp-for="@user.Email" type="hidden" />
                <input name="currentRole" asp-for="@user.CurrentRole" type="hidden" />
                <div>
                    <button asp-action="MakeUser"       type="submit" disabled='@(@user.IsUser == true ? "disabled" : null)'>User</button>
                    <button asp-action="MakeModerator"  type="submit" disabled='@(@user.IsModerator == true ? "disabled" : null)'>Moderator</button>
                    <button asp-action="MakeAdmin"      type="submit" disabled='@(@user.IsAdmin == true ? "disabled" : null)'>Admin</button>
                </div>
            </form>
        </div>
    }
</div>
